.pastExperiences {
  position: relative;
  width: 100%;
  height: 930px;
  background: #17265c;
}

.past-experiences__content {
  height: 930px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding: 0px 112px;
}

.past-experiences__title {
  font-weight: 700;
  font-size: 56.2563px;
  line-height: 66px;
  position: relative;
  z-index: 99999;
  width: 471px;
}

.images-mobile{
  display: none;
}

.past-experiences__text {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  position: relative;
  z-index: 99999;
  width: 465px;
}

.start-pe-one {
  position: absolute;
  width: 4%;
  bottom: 79%;
  right: 42%;
}

.start-pe-two {
  position: absolute;
  width: 2%;
  bottom: 10%;
  right: 33%;
}

.start-pe-three {
  position: absolute;
  width: 3%;
  bottom: 64%;
  right: 11%;
}

@media (max-width: 1250px) {
  .constent-list-img div {
    left: -2%;
  }
}

@media (max-width: 900px) {
  .constent-list-img div {
    display: none;
  }
  .past-experiences__content {
    justify-content: initial;
    align-items: initial;
    color: #ffffff;
    padding: 0px;
    padding-top: 59px;
  }

  .start-pe-one {
    position: absolute;
    width: 4%;
    bottom: 89%;
    right: 22%;
  }

  .past-experiences__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 66px;
    width: 90%;
    padding-left: 19px;
  }

  .past-experiences__text {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    width: 90%;
    padding-left: 19px;
  }
  .images-mobile{
    display: block;
    position: relative;
    top:30px;
    left: 0px;
  }
  .pastExperiences{
    height: 765px;
  }
}
