.tokenizenConquer {
  background-color: #121e45;
  height: 967px;
  position: relative;
}

.title-tkConquer {
  position: relative;
  left: 4.35%;
  right: 59.69%;
  top: 6.86%;
  width: max-content;
  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 70px;
  color: #ffffff;
}

.text-tkConquer {
  position: relative;
  right: 7.3%;
  top: 6.73%;
  bottom: 78.47%;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  padding: 0px 4px 0px 12%;
}

.content-moneda {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 81vh;
  position: relative;
  top: 10%;
}

.moneda-cara {
  cursor: pointer;
  position: absolute;
  width: 636px;
  height: 636px;
  z-index: 4;
  bottom: 13%;
}

.circle-dashes-moneda {
  position: absolute;
}

.vector-moneda {
  position: absolute;
  top: 15%;
}

.circle-med-moneda {
  position: absolute;
}

.circle-small-moneda {
  position: absolute;
}

.circle-small-moneda:hover {
  transform: scale(1.1);
}

.buble-circle-med {
  position: absolute;
  left: 30.82%;
  top: 19.85%;
  bottom: 74.38%;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.buble-circle-med:hover {
  transform: scale(1.1);
}

.buble-mini {
  position: absolute;

  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.buble-mini:hover {
  transform: scale(1.1);
}

.buble-mini-two {
  position: absolute;
  left: 56.9%;
  top: 36%;
  bottom: 13.28%;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.buble-mini-two:hover {
  transform: scale(1.1);
}

.buble-mini-three {
  position: absolute;
  left: 34%;
  top: 45.05%;
  bottom: 51.36%;
  transition: all 0.3s ease-in-out;
  z-index: 5;
}

.buble-mini-three:hover {
  transform: scale(1.1);
}

.buble-small-circle {
  position: absolute;
  left: 36.82%;
  top: 55.85%;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}

.buble-small-circle:hover {
  transform: scale(1.1);
}

.buble-small-circle-two {
  position: absolute;
  left: 52.38%;
  top: 24%;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.buble-small-circle-two:hover {
  transform: scale(1.1);
}

.buble-small-circle-three {
  position: absolute;
  left: 52.38%;
  top: 54%;
  z-index: 5;
  transition: all 0.3s ease-in-out;
}
.buble-small-circle-three:hover {
  transform: scale(1.1);
}

.card-tokenize-0 {
  position: absolute;
  top: 24%;
  z-index: 10;
  left: 20%;
  transition: all 0.3s ease-in-out;
}
.card-tokenize-0:hover {
  transform: scale(1.1);
}

.card-tokenize-1 {
  position: absolute;
  top: 24%;
  z-index: 10;
  left: 63%;
  transition: all 0.3s ease-in-out;
}
.card-tokenize-1:hover {
  transform: scale(1.1);
}

.card-tokenize-2 {
  position: absolute;
  top: 47%;
  z-index: 10;
  left: 67%;
  transition: all 0.3s ease-in-out;
}
.card-tokenize-2:hover {
  transform: scale(1.1);
}

.card-tokenize-3 {
  position: absolute;
  top: 47%;
  z-index: 10;
  left: 16%;
  transition: all 0.3s ease-in-out;
}
.card-tokenize-3:hover {
  transform: scale(1.1);
}

.card-tokenize-4 {
  position: absolute;
  top: 71%;
  z-index: 10;
  left: 23%;
  transition: all 0.3s ease-in-out;
}
.card-tokenize-4:hover {
  transform: scale(1.1);
}

.start-tk {
  position: absolute;
  left: 75.26%;
  right: 21.78%;
  top: 5.61%;
  bottom: 89.8%;
}

.start-two-tk {
  position: absolute;
  left: 72.77%;
  right: 24.28%;
  top: 87.07%;
  bottom: 8.34%;
}

.start-three-tk {
  position: absolute;
  left: 4.35%;
  right: 90.73%;
  top: 69.81%;
  bottom: 22.42%;
}

.content-carTk {
  position: relative;
  display: flex;
  bottom: 161px;
  gap: 31px;
  overflow-y: scroll;
  height: 184px;
  width: 100%;
}

.button-tk {
  position: absolute !important;
  bottom: 170px;
  left: 63% !important;
  width: 195.8px !important;
  height: 61.9px !important;
  font-size: 18.5796px !important;
  font-weight: 700 !important;
  text-transform: lowercase !important;
}

@media (max-width: 1200px) {
  .tokenizenConquer {
    height: 811px;
  }
  .title-tkConquer {
    font-weight: 700;
    font-size: 30px;
    line-height: 32px;
  }

  .start-tk {
    width: 17px;
    left: 86.26%;
    top: 0.61%;
    bottom: 89.8%;
  }

  .text-tkConquer {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    top: 83px;
    width: 320px;
    width: 88%;
  }

  .button-tk {
    position: absolute !important;
    left: 27% !important;
    width: 195.8px !important;
    height: 61.9px !important;
    font-size: 18.5796px !important;
    font-weight: 700 !important;
    text-transform: lowercase !important;
    bottom: 18px;
  }

  .content-moneda {
    top: -19px;  
    height: 575px;
  }

  .content-moneda > svg {
    width: 451.57px;
    height: 407.1px;
  }

  .start-three-tk {
    width: 23px;
    height: 23px;
    top: 25.81%;
  }

  .start-two-tk {
    width: 23px;
    height: 23px;
    left: 86.77%;
    right: 24.28%;
    top: 53.07%;
  }

  .card-tokenize__content {
    width: 242px;
    height: 125px;
  }

  .card-tokenize {
    position: relative;
    top: 16px;
    box-shadow: 0px 0px 13.4569px 3.36421px rgba(234, 170, 67, 0.33);
    border-radius: 18.2596px;
  }

  .card-tokenize__content__title {
    font-weight: 700;
    font-size: 18.8396px;
    line-height: 29px;
    margin: 0px;
  }

  .card-tokenize__content__description {
    margin: -1px 10px -1px 20px;
  }
}
