.card-tokenize {
  width: 385px;
  height: 188px;
  background: #142048;
  box-shadow: 0px 0px 20px 5px rgba(234, 170, 67, 0.33);
  border-radius: 27.138px;
}

.card-tokenize__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-tokenize__content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  margin: 23px 32px 0px 29px;
}

.card-tokenize__content__description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 10px 32px 24px 29px;
}
