.uf--future-entertainment {
  background: #101939;
  background-size: contain;
  width: 100%;
}
.uf--future-entertainment .uf--content {
  position: relative;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: right center;
  padding: 50px 75px;
  display: flex;
  align-items: center;
}

.uf--future-entertainment .uf--content .uf--info {
  max-width: 650px;
}
.uf--future-entertainment .uf--content .uf--info h2 {
  margin-bottom: 70px;
  margin-top: 0;
}
.uf--future-entertainment .uf--content .uf--info p:not(:last-child) {
  margin-bottom: 0px;
  position: relative;
  z-index: 4;
}

/*GLOBALS*/
.uf--title {
  font-size: 42px;
  line-height: 57px;
  font-weight: bold;
}

.uf--font-base {
  font-size: 24px;
  line-height: 32px;
}

.uf--content__img {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .verctor-future {
    opacity: 0.3;
    position: absolute;
    top: 10%;
    left: 25%;
  }
  .uf--info {
    display: flex;
    flex-direction: column;
    max-width: 100% !important;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .verctor-future {
    left: -247px;
  }

  .uf--future-entertainment .uf--content {
    padding: 20px 25px;
  }

  .uf--future-entertainment .uf--content .uf--info h2 {
    margin-bottom: 0px;
    position: relative;
    z-index: 4;
    top: 0px;
    left: 0px;
  }

  .uf--font-base {
    font-size: 16.79px;
    position: relative;
    z-index: 4;
  }

  .uf--info {
    text-align: initial;
  }
}
