.ilustration {
  background: #141f46;
  background-image: url(../../../assets/bg-ilustration.svg);
  background-repeat: no-repeat;
  background-size: 1356px;
  background-position: center bottom;
  height: 1265.22px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
}

.ilustration-img {
  margin-top: 160px;
  height: 842.22px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s;
  object-fit: cover;
  width: 100%;
}

.ilustration-title {
  position: absolute;
  top: 11.97%;
  bottom: 79.3%;
  font-weight: 700;
  font-size: 39.2824px;
  line-height: 109px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  z-index: 999;
}


@media (max-width: 1250px) {
  .ilustration {
    background-repeat: no-repeat;
    background-size: 1356px;
    background-position: center 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ilustration-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    top: 5.97%;
    width: 61%;
  }
}

@media (max-width: 557px) {
  .ilustration {
    background-repeat: no-repeat;
    background-size: 191%;
    background-position: center 195px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ilustration-title {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    top: 5.97%;
    width: 61%;
  }
  .ilustration {
    height: 700px;
  }
}
