.carrousel {
  width: 100%;
  height: 352px;
  display: flex;
  gap: 20px;
  display: -webkit-inline-box;
}

.scroll-carrousel {
  display: flex;
}

.alice-carousel__stage-item {
  height: 259px!important;
  transition: all .3s ease-in-out;
  width: 189px!important;
  margin: 0px 10px !important;
}

.prev-btn-custom {
  opacity: 0;

  display: none;
  position: absolute !important;
  top: 15% !important;
  transition: all 0.3s ease-in-out;
}

.next-btn-custom {
  display: none;
  opacity: 0;
  position: absolute !important;
  right: 0px !important;
  position: absolute !important;
  top: 15% !important;
  margin-left: 0px !important;
  transition: all 0.3s ease-in-out;
}

.alice-carousel__prev-btn {
  display: none !important;
}

.alice-carousel__next-btn {
  display: none !important;
}

.alice-carousel__stage-item:hover {
  margin-right: 132px  !important;
}
