.footer {
  background-color: #0c132c;
  padding: 74px 75px 0px;
  position: relative;
}

.footer-content {
  height: 294.62px;
}

.footer-social {
  width: 100%;
  text-align: center;
}

.footer-Icon {
  cursor: pointer;
}

.links-footer {
  font-weight: 400;
  font-size: 15.713px;
  line-height: 18px;
  color: #ffffff;
  margin: 20px 0px;
  gap: 7%;
  display: flex;
  justify-content: center;
}

.link-f {
  cursor: pointer;
}

.hr-footer {
  margin-top: 70px;
  border: 0.982061px solid;
  border-color: rgb(101 101 101);
}

.logo-footer {
  width: 156.99px;
  height: 68.58px;
}

.data-footer {
  width: 100%;
  text-align: center;
  font-weight: 300;
  font-size: 11.7847px;
  line-height: 14px;
}

.content-foo-mob {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 933px) {
  .hr-footer {
    display: none;
  }

  .footer {
    padding: 25px 10px 0px;
  }

  .logo-footer{
    width: 95.46px;
    height: 41.7px;
    margin-left: 9px;
  }

  .links-footer{
    margin: 39px 0px;
  }

  .icon-foo{
    width: 16%;
  }

  .footer-content{
    height: 248.62px;
  }
}
