.ilustration {
  background: #141f46;
  height: 1265.22px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ilustration-title {
  position: absolute;
  top: 11.97%;
  bottom: 79.3%;
  font-weight: 700;
  font-size: 39.2824px;
  line-height: 109px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  z-index: 999;
}

.ilustration-img {
  margin-top: 160px;
}

@media (max-width: 1250px) {
  .ilustration {
    background-image: url(../../assets/ilustrationimg.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center bottom;
    padding: 50px 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .ilustration-title{
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    top: 5.97%;
    width: 61%;
  }
  .ilustration{
    height: 1000px;
  }
}
