.ilustration {
  background: #141f46;
  height: 1265.22px;
  position: relative;
  display: flex;
  align-items: center;
    justify-content: center;
}

.ilustration-title {
  position: absolute;
  top: 11.97%;
  bottom: 79.3%;
  font-weight: 700;
  font-size: 39.2824px;
  line-height: 109px;
  color: #ffffff;
  width: 100%;
  text-align: center;
  z-index: 999;
}

.ilustration-img{
    margin-top: 160px;
}
