.home {
  background-color: var(--core_blue);
  height: 100vh;
  position: relative;
}

.logo-home {
  margin-left: 78px;
  margin-top: 28.8px;
  height: 62px;
}

.nav-home {
  z-index: 999;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-buttons-home {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 500px;
}

.elipse-left-home {
  position: absolute;
  width: 40%;
  height: 99vh;
}

.elipse-rigth-home {
  position: absolute;
  right: 0px;
  width: 40%;
  height: 99vh;
}

.data-home {
  font-family: 'Futura';
  position: absolute;
  display: flex;
  gap: 40px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  color: white;
  bottom: 16.1%;
}

.title-home {
  position: absolute;

  top: 28.14%;
  bottom: 67.02%;
  font-weight: 500;
  font-size: 48.3766px;
  line-height: 46px;
  color: #ffffff;
  width: 100%;
  text-align: center;
}

.info-home {
  position: absolute;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
  bottom: 53.27%;
  font-size: 29.6103px;
  left: 23.4%;
  line-height: 40px;
  right: 30.03%;
  top: 36.31%;
  width: 53%;
}

.start-one-home {
  position: absolute;
  top: 9%;
  left: 20%;
  width: 41px;
}

.start-two-home {
  position: absolute;
  width: 2%;
  bottom: 42%;
  right: 55%;
}

.start-three-home {
  position: absolute;
  width: 3%;
  bottom: 70%;
  right: 15%;
}

.content-carrousel {
  position: absolute;
  bottom: 9px;
  width: 100%;
  overflow: auto;
}

.modeda-tk {
  width: 600px;
  height: 600px;
}

@media (max-width: 1200px) {
  .title-home {
    font-size: 42.3766px;
  }

  .info-home {
    font-size: 23.6103px;
  }
}
@media (max-width: 997px) {
  .title-home {
    font-size: 31.3766px;
  }

  .info-home {
    font-size: 18.6103px;
  }
}
