.constent-list-img div {
  width: 100%;
  height: 930px;
  overflow: hidden;
  position: absolute;
}

.constent-list-img {
  width: 100%;
  height: 930px;
  overflow: hidden;
  position: absolute;
}


